@charset "utf-8";

body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-size: 3em;
}

h2 {
    color: white;
    font-size: 3em;
    text-align: center;
}

h2#ga {
    color: blue;
}

p {
    color: rgb(225, 118, 17);

    font: bold italic 3em sans-serif;
}

.alfa {
    color: aqua;
}

.delta {
    color: yellow;
}

.sigma {
    color: rgb(155, 32, 100);
}

.k {
    background-color: aliceblue;
}

p#pi {
    color: brown;
}

p#go {color: rgb(79, 57, 139);}
.vai {
    background-color: rgb(93, 82, 31);
}

