@charset "utf-8";

/*roboto*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&family=Sriracha&display=swap');


/*Galada*/
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

:root {
    fonte01:  Verdana, Geneva, Tahoma, sans-serif;
    fonte02: "Galada",serif;
    fonte03: "Roboto", sans-serif;
}

html, body {
    background-color: rgba(5, 10, 14, 0.33);
    min-height: 100vh;
    font-family: var(--fonte01);

}

header {
    background-color: #9ea1a5;
    text-align: center;
    color: black;
    
}

header > h1 {
    font-size: 10vw;
    font-family: var(--fonte03);
    font-variant: small-caps;
    padding-top: 50px;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: brown;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-left:30px;
    padding-bottom: 10vh;
    padding-top:10vh;
    padding-right:12vh;
    line-height: 2em;
    font-size:3.5vw;
    font-family: var(--fonte03);
}

section.normal {
    background-color: rgba(22, 20, 20, 0.227);
    color: white;
}

section.imagem {
    background-color: rgb(6, 21, 16);
color: blueviolet;
    box-shadow: inset 6px 6px 12px  0px black;
    background-size: cover;
    background-attachment: fixed;
}


section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.637);
    text-shadow: 1px 1px 1px 0px black;
    max-width: 1800px;
}


section > p {
    padding-bottom: 20px;
}





section#img01 {
    background-image: url(../imagem/background001.jpg);
    background-position: right center;
}
section#img02 {
    background-image: url(../imagem/background002.jpg);
    background-position: right center;
}

