@charset "utf-8";

* {
    margin:0px;
    padding:0px;
    font-size: 1em;
}

/*
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
*/

@font-face {
    font-family: 'Pacifico';
    src: url(/fonts/Pacifico/Pacifico-Regular.ttf)
}

@font-face {
    font-family: 'Bangers';
    src: url(/fonts/Bangers/Bangers-Regular.ttf)
}

:root {
  --fonte01: Verdana, Geneva, Tahoma, sans-serif;
  --fonte02: "Pacifico", serif;
  --fonte03: 'Bangers', cursive;
}


html, body {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    
}

header {
    background-color: #170638;
    color: rgb(0, 17, 255);
    text-align: justify;
}

header > h1 {
    padding-top:50px ;
    padding-bottom: 50px;
    font-variant: small-caps;
    text-align: center;
    font-size: 6vw;
    font-family: var(--fonte03);
}

header >p {
    margin-left: 50px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.normal {
    background-color: rgb(255, 255, 255);
    background-image: url();
    color: rgb(0, 0, 0);
    font-family: var(--fonte02);
}

.editado {
    background-color: rgb(255, 255, 255);
    color: white;
    background-image: url(/imagem/background002.jpg);
    font-family: var(--fonte02);
    box-shadow: inset 5px 5px 5px black;
    background-attachment: fixed;
}

.normal > p {
    width: 100vw;
}

.editado > p {
    background-color: rgba(0, 0, 0, 0.353);
    width: 60vw;
    display: inline-block;
    padding: 5px;
    text-shadow: 4px 4px 4px black; /*Funcionou bem fraquinho*/
    
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 4.5vw;
}

section > p {
    margin-right: 300px;
    margin-left: 30px;
    padding-bottom: 2em;
}

#img01 {
    background-image: url(../imagem/background001.jpg);
    background-position: center center;
    background-size: cover;
}

#img02 {
    background-image: url(../imagem/background002.jpg);
    background-position: right center;
    background-size: cover;
}








footer {
    background-color: #170638;
}
footer {
    color: white;
    text-align: center;
}


