@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    
    background-image: linear-gradient(to right, white 30px, rgb(48, 128, 85) );
    text-align: center;
}

header {
    background-color: rgba(223, 235, 11, 0.71);
    text-align: center;
    padding: 15px 30px 15px 30px;
    margin: auto;
    background-image: linear-gradient(to right, white 30px, rgb(48, 128, 85) );
    }

nav {
    background-color: rgb(48, 128, 85);
    background-image: linear-gradient(to right, white 30px, rgb(48, 128, 85) );
    text-align: center;
    padding: auto;
    margin: 11px -21px 0px -21px;
    
}

a {
    color: black;
    text-decoration: dashed;
}

a:hover{
    color: white;
}

main {
    background-color: rgb(255, 255, 255);
    text-align: center;
    min-width: 300px;
    max-width: 1000px;
    margin:auto;
    padding-bottom: 30px;
}

article {
    background-color: rgb(48, 128, 85);
    margin: 18px 18px -5px 18px;
    padding: 20px 24px 20px 10px;
}

aside {
    background-color: rgb(255, 255, 255);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 30px;

}

section {
    background-color: rgb(48, 128, 85);
}

ul {
    list-style-type:none;
    margin: auto;

    /*Centralizar a lista*/
}

.list {
    padding: 1px 40px 0px 70px;
    margin: 0px 65px 0px 65px;
    max-width: 150px;
    text-align: center;
}

footer {
    background-image: linear-gradient(to right, white 30px, rgb(48, 128, 85) );
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%;
}




