@charset "utf-8";

body {
    color: rgb(200, 87, 87);
    background-image:linear-gradient(to right,#fff 20%, #1AB5FF 80%);
}

main {
    background-color: #0D499C;
    color: rgb(249, 251, 246);
    margin: auto;
    border-radius: 10px;
    width: 550px;
    height: 340px;
    padding: 20px;
    box-shadow:5px 5px 5px black;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

p {
    text-align: justify;
    text-align: center;
    font-family: fantasy;
    font-size: medium;
}
h1 {
    font-family: serif;
}

h2 {
    font-family: serif;